[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.3.0"
django = "==4.1"
fpdf2 = "==2.5.7"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
