{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/consulta.css' %}">
{% endblock  %}

{% block 'conteudo' %}

<div class="container-sm mt-4 mb-4 d-flex" style="flex-wrap: wrap;">

            {%for i in pedidos%}
            <div class="p-2 mt-4 border rounded border-dark d-flex bg-light justify-content-center" style="width: 360px; flex-wrap: wrap; margin: 25px 25px;">
    
                <div class="">
                {%if i.veiculo.imagem%}
                <a href="{%url 'consulta_unica' i.ods %}"><img src="{{i.veiculo.imagem.url}}" class="img" alt="{{i.veiculo.modelo}}"></a>
                {%else%}
                <a href="{%url 'consulta_unica' i.ods %}"><img src="" class="img" alt="{{i.veiculo.modelo}}"></a>
                {%endif%}
                <div>
                    <h4 style="text-align: center;">{{i}}</h4>
                    <p class="mb-0">Veiculo: {{i.veiculo}} - {{i.veiculo.marca}}, {{i.veiculo.ano}}, {{i.veiculo.placa}}</p> <hr class="mb-0 mt-0">
                       <p class="mb-0">Dono: {{i.veiculo.cliente}} - CPF: {{i.veiculo.cliente.retornar_cpf_censurado}}</p> <hr class="mb-0 mt-0">
                       <p class="mb-0">Contato: {{i.veiculo.cliente.telefone}}, {{i.veiculo.cliente.email}}</p> <hr class="mb-0 mt-0">
                       <p class="mb-0">Ordem de Serviço: {{i.ods}}</p> <hr class="mb-1 mt-1">
    
                        {% if i.flag_ativo %}
                        <p class="mb-0">Pedido em andamento</p>
    
                        {%if i.combinar_preco == False %}
                        <p class="mb-0">Valor: R$ {{i.preco|floatformat:2}}</p>
    
                        {% endif %}
                        <hr class="mb-0 mt-0">
                        {%else%}
                        <p class="mb-0">Pedido finalizado no valor de R$ {{i.preco|floatformat:2}}</p><hr class="mb-0 mt-0">
                        <p class="mb-0">Data de abertura: {{i.data_inicio}}</p>
                        <p class="mb-0">Data de finalização: {{i.data_final}}</p>
    
                        {%endif%}
                    
                    {%if not i.flag_ativo %}
                    {%else%}
                    {%if i.combinar_preco%}
                    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#modalMecanico" onclick="m_ods('{{i.ods}}')">Concluir Pedido</button>
                        {%else%}
                            <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#modalLavagem" onclick="l_ods('{{i.ods}}')">Concluir Pedido</button>
                            {%endif%}
                            {%endif%}
                        </div>
                    </div>
            </div>
                            
                            {%empty%}
                            <h1>Nada encontrado</h1>
                {%endfor%}
</div>

<!-- Modal 1-->
<div class="modal fade" id="modalMecanico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preencha os campos para fechar o pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form method="POST" action="{% url 'ajustar' %}" enctype="multipart/form-data"> {%csrf_token%}
                <div class="form-group">
                    <label>Imagem do serviço finalizado:</label>
                    <input name="imagem" type="file" class="form-control-file">
                </div>
                <div class="form-group">
                    <label>Nova descrição do serviço:</label>
                    <input name="descricao" type="text" class="form-control" placeholder="Não deixe em branco...">
                </div>
                <div class="form-group">
                    <label>Preco:</label>
                    <input name="preco" type="number" class="form-control" placeholder="Preço do serviço">
                    <input name="ods" type="hidden" id="ods_m">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                
            </form>

        </div>
        
    </div>
    </div>
</div>


<!-- Modal 2-->
<div class="modal fade" id="modalLavagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preencha os campos para fechar o pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form method="POST" action="{% url 'ajustar_lav' %}" enctype="multipart/form-data"> {%csrf_token%}
                <div class="form-group">
                    <label>Imagem do serviço finalizado:</label>
                    <input name="imagem" type="file" class="form-control-file">
                    <input name="ods" type=hidden id="ods_l">
                </div>                          
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                
            </form>

        </div>
        
    </div>
    </div>
</div>

<script src="{% static 'js/js.js' %}"></script>



{% endblock  %}