{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/consulta.css' %}">
{% endblock  %}

{% block 'conteudo' %}

<div class="meu_container">

    {%for i in pedidos%}

    <div class="card">
        {%if i.veiculo.imagem%}
        <a href="{%url 'consulta_unica' i.ods %}"><img src="{{i.veiculo.imagem.url}}" class="card-img-top" alt="{{i.veiculo.modelo}}"></a>
        {%else%}
        <a href="{%url 'consulta_unica' i.ods %}"><img src="" class="card-img-top" alt="{{i.veiculo.modelo}}"></a>
        {%endif%}
        <div class="card-body">
            <h5 class="card-title">{{i}}</h5>
            <p class="card-text">
                Veiculo: {{i.veiculo}} - {{i.veiculo.marca}}, {{i.veiculo.ano}}, {{i.veiculo.placa}} <br><hr>
                Dono: {{i.veiculo.cliente}} - CPF: {{i.veiculo.cliente.retornar_cpf_censurado}} <br><hr>
                Contato: {{i.veiculo.cliente.telefone}}, {{i.veiculo.cliente.email}} <br><hr>
                Ordem de Serviço: {{i.ods}} <br><hr>
                
                {% if i.flag_ativo %}
                Pedido em andamento <br>
                {%if i.combinar_preco == False %}
                Valor: R$ {{i.preco}}0
                {% endif %}
                <hr>
                {%else%}
                Pedido finalização no valor de R$ {{i.preco}}0 <hr>
                Data de abertura: {{i.data_inicio}}<br>
                Data de finalização: {{i.data_final}}
                {%endif%}

            </p>

            {%if not i.flag_ativo %}
            {%else%}
                {%if i.combinar_preco%}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalMecanico" onclick="m_ods('{{i.ods}}')">Concluir Pedido</a>
                {%else%}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalLavagem" onclick="l_ods('{{i.ods}}')">Concluir Pedido</a>
                {%endif%}
            {%endif%}
            
        </div>
    </div>
    {%empty%}
        <h1>Nada encontrado</h1>
    {%endfor%}
    
</div>

<!-- Modal 1-->
<div class="modal fade" id="modalMecanico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preencha os campos para fechar o pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <form method="POST" action="{% url 'ajustar' %}" enctype="multipart/form-data"> {%csrf_token%}
                <div class="form-group">
                    <label>Imagem do serviço finalizado:</label>
                    <input name="imagem" type="file" class="form-control-file">
                </div>
                <div class="form-group">
                    <label>Nova descrição do serviço:</label>
                    <input name="descricao" type="text" class="form-control" placeholder="Não deixe em branco...">
                </div>
                <div class="form-group">
                    <label>Preco:</label>
                    <input name="preco" type="number" class="form-control" placeholder="Preço do serviço">
                    <input name="ods" type="hidden" id="ods_m">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                
            </form>

        </div>
        
    </div>
    </div>
</div>


<!-- Modal 2-->
<div class="modal fade" id="modalLavagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preencha os campos para fechar o pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

            <form method="POST" action="{% url 'ajustar_lav' %}" enctype="multipart/form-data"> {%csrf_token%}
                <div class="form-group">
                    <label>Imagem do serviço finalizado:</label>
                    <input name="imagem" type="file" class="form-control-file">
                    <input name="ods" type=hidden id="ods_l">
                </div>                          
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                
            </form>

        </div>
        
    </div>
    </div>
</div>

<script src="{% static 'js/js.js' %}"></script>



{% endblock  %}